/** Some of this stuff applies for old pages. **/
.container {
  min-height: 100vh;
  padding: 0 0.5rem;
}

.highlights {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .videos {
    width: 100%;
    max-width: 800px;

    iframe {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}

.admission {
  text-decoration: underline;
  letter-spacing: 2px;
}

.main {
  text-align: center;
  padding: 0.5rem 0 2rem 0;

  .gallery {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .location {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      letter-spacing: 1px;
    }

    .info {
      margin-bottom: 24px;
    }

    .maps {
      max-width: 700px;
      width: 100%;
      height: 400px;

      .embed {
        width: 100%;
        height: 100%;
      }
    }
  }
  .updates {
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      letter-spacing: 1px;
    }

    .update {
      text-align: left;
    }
  }
}

.footer {
  width: 100%;
  border-top: 1px solid #eaeaea;
  text-align: center;
}

.footer {
  padding: 24px 0px;
  
    .callout {
      color: "#CCC";
      margin-top: 0px;
    }

  .links {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      margin: 0px 8px;
    }
  }

  p {
    display: block;
    color: #CCC;

    a {
      color: #CCC;
    }
  }
}